In [1]:
import numpy as np
from scipy.fft import fft
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
dummyDataFile = pd.read_excel("dummyData.xlsx")

dummyDataFile

      DATE  TEMP  HUMI  hello  Unnamed: 4                Unnamed: 5
0      NaN    25    28    NaN         NaN                       NaN
1      NaN    28    31    NaN         NaN                       NaN
2      NaN    30    26    NaN         NaN                       NaN
3      NaN    26    29    NaN         NaN  aaaaaaaaaaaaaaaaaaaaaaaa
4      NaN    28    32    NaN         NaN                       NaN
...    ...   ...   ...    ...         ...                       ...
2866   NaN    29    28    NaN         NaN                       NaN
2867   NaN    25    26    NaN         NaN                       NaN
2868   NaN    29    30    NaN         NaN                       NaN
2869   NaN    26    27    NaN         NaN                       NaN
2870   NaN    28    28    NaN         NaN                       NaN

[2871 rows x 6 columns]

In [24]:
temphumiDF = pd.read_excel("dummyData.xlsx", "Sheet1", skiprows=0, nrows= 2871, usecols="B:C")

temphumiDF

      TEMP  HUMI
0       25    28
1       28    31
2       30    26
3       26    29
4       28    32
...    ...   ...
2866    29    28
2867    25    26
2868    29    30
2869    26    27
2870    28    28

[2871 rows x 2 columns]

In [25]:
tempOnly = temphumiDF['TEMP'].tolist()
humiOnly = temphumiDF['HUMI'].tolist()

# tempOnly
# humiOnly

In [26]:
tempVector = np.array(tempOnly)
humiVector = np.array(humiOnly)

print(tempVector)
print(humiVector)

[25 28 30 ... 29 26 28]
[28 31 26 ... 30 27 28]